*{margin: 0; padding: 0;}
.banner{margin: 100px; padding: 35px;}
.container-principal{font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif; color:black;}

header{width: 100%; height: 100px; background-color:#420104da; position: relative; top: 0;}
.logo{position: absolute;width: 114px; height: auto;}
.logo img{width: 90%; margin-left: 10%; padding-top: 0%;}
.title{margin-left: 12%; padding-top: 2.4%; position: relative;}

.menu {position: absolute; right:30px; bottom:10px; font-family: 'Verdana'; list-style: none;}
.menu li{float: left;color: black; width: auto; margin: 0.2em; font-size: 1.5em;}
.menu :hover{color: black;}

.modalDialog{
	position: fixed;
	font-family: 'verdana';
	top: 0;
	right: 0;
	bottom: 0;
	left: 0;
	background: rgba(0, 0, 0, 0.705);
	z-index: 9999;
	opacity: 0;
	-webkit-transition: opacity 400ms ease-in;
	-moz-transition: opacity 400ms ease-in;
	transition: opacity 400ms ease-in;
	pointer-events: none;
	display: none;
}
/*pseudo-classe*/
.modalDialog:target{
	display: block;
	opacity: 1;
	pointer-events: auto;
}
/*aninhamento*/
.modalDialog div{
	width: 500px;
	position: relative;
	margin: 10% auto;
	padding: 5px 20px 13px 20px;
	-webKit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 10px;
	background-color: rgba(133, 0, 0, 0.726);
}

.modalDialog p{
	margin-top: 5%;
	margin-bottom: 5%;
}

.modalDialog img {
	width: 50%;
	position: relative;
	margin-left: 25%;
}

/*adição do botão close*/
.close {
	background-color: #606061;
	color: #ffffff;
	line-height: 25px;
	position: absolute;
	right: -12px;
	text-align: center;
	top: -10px;
	width: 24px;
	text-decoration: none;
	font-weight: bold;
	-webkit-border-radius: 12px;
	-moz-border-radius: 12px;
	border-radius: 12px;
}

.close:hover{
	background-color: #000000;
}

footer{width: 100%; height: 18%; background-color: #303030; color: #fff; position: relative; float: left; font-family: 'verdana';}


footer .footer-text{width: 30%; margin: 0%; position: relative; float: left;}
footer .footer-text a{color: #fff}

/*definir a cor de fundo das páginas sobre, clientes e contato*/
.color-page{background-color:  #ddd;}





